alembic
certifi==2020.12.5
click
Flask
Flask-Migrate==2.4.0
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
python-dateutil==2.8.1
python-editor==1.0.4
six
SQLAlchemy
Werkzeug
wincertstore==0.2
