alembic==1.6.2
ca-certificates==2021.4.13
certifi==2020.12.5
click==7.1.2
flask==1.1.2
flask-migrate==2.4.0
flask-sqlalchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==1.1.0
jinja2==2.11.3
krb5==1.17.1
libpq==12.2
mako==1.1.4
markupsafe==1.1.1
openssl==1.1.1k
pip==21.0.1
psycopg2==2.8.6
python==3.9.4
python-dateutil==2.8.1
python-editor==1.0.4
python_abi==3.9
setuptools==52.0.0
six==1.16.0
sqlalchemy==1.4.14
sqlite==3.35.4
tk==8.6.10
tzdata==2020f
vc==14.2
vs2015_runtime==14.27.29016
werkzeug==1.0.1
wheel==0.36.2
wincertstore==0.2
zlib==1.2.11
