{% extends 'base.html' %}

{% block main %}
<form action='/blog/{{ blog.blogid }}/edit' method="POST">
    <div class="form-group user-input">
    	<label>Title</label>
    	<input type="text" class="form-control" name="title" value="{{ blog.title }}" />
    </div>
    <div class="form-group user-input">
    	<label>Text</label>
    	<textarea class="form-control" name="text">{{ blog.text }}</textarea>
    </div>
    {% if session['username'] == 'admin' %}
        <div class="form-group user-input">
            <label>Date</label>
        	<input class="form-control" type="date" name="date" value="{{ blog.date }}">
        </div>
        <div class="form-group user-input">
            <label>Author</label>
            <select class="form-control" name="author">
                <option value="{{ blog.author }}" selected>Current authorID = {{ blog.author }}</option>
                {% for user in users %}
                    <option value="{{ user.uid }}">[{{ user.uid }}] {{user.login}}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}