{% extends 'base.html' %}

{% block main %}
<h1>Workshop 3</h1>
<p>Головна сторінка сайту для постингу, що створений у рамках лабораторної роботи №3 студентом групи КМ-83 Сін Глібом.</p>
<p>Панель навігації:</p>
<ul>
  <li>Workshop 3 – перейти на головну (поточну) сторінку;</li>
  <li>Blogs – перейти на сторінку, що відображає усі пости користувачів;</li>
  <li>Login – увійти в акаунт;</li>
  <li>Sign Up – створити акаунт.</li>
</ul>
<p>Після входу в акаунт, відобразиться кнопка з нікнеймом, за допомогою якої можна розкрити випадаючий список з наступними опціями:</p>
<ul>
  <li>My Profile – переглянути свій профіль</li>
  <li><b>Create Blog</b> – створити запис у блозі;</li>
  <li>Logout – вийти з акаунту.</li>
</ul>

<h4>УВАГА!</h4>
<p>У базі зареєстрований користувач <b>admin</b>, який може видаляти та редагувати будь-які дані (записи у блозі, коментарі, дані користувачів).</p>
<p>Логін: admin</p>
<p>Пароль: admin</p>
{% endblock %}